.wrapper {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    
}

.content-block1,
.content-block2 {
    width: 600px;
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* запрос */
.content-block1 {
    background-color: bisque;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

/* результат */
.content-block2 {
    background-color: rgb(94, 200, 219);
    height: 800px;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
}

